.repoContainer {
  text-align: center;
  padding-top: 60px;
}

.repoName {
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  max-width: 80%;
}

.repoDescription {
  font-size: 16px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}
.starCount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starSize {
  font-size: 40px;
  margin-bottom: 70px;
}
.starCountNum {
  font-size: 70px;
  color: #77828c;
}

.navContainer {
  display: flex;
  z-index: 50;
  position: absolute;
  top: 30px;
  left: 25px;
  transform: scale(2);
  width: 40px;
  justify-content: space-evenly;
}

.home:hover {
  color: white;
  background-color: rgb(0 106 166);
  border-radius: 50%;
}
.back:hover {
  color: white;
  background-color: rgb(0 106 166);
  border-radius: 50%;
}
@media screen and (min-width: 600px) {
  .repoContainer {
    text-align: center;
    padding-top: 8vh;
  }

  .repoName {
    font-size: 50px;
    font-weight: bold;
  }

  .repoDescription {
    font-size: 20px;
  }
  .starCount {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .starSize {
    font-size: 70px;
    margin-bottom: 100px;
  }
  .starCountNum {
    font-size: 100px;
    color: #77828c;
  }

  .navContainer {
    display: flex;
    z-index: 50;
    position: absolute;
    top: 40px;
    left: 54px;
    width: 40px;
    justify-content: space-evenly;
    transform: scale(3);
  }
  .back:hover {
    color: white;
    background-color: rgb(0 106 166);
    border-radius: 50%;
  }
  .home:hover {
    color: white;
    background-color: rgb(0 106 166);
    border-radius: 50%;
    /* box-shadow: 0 0 5px rgb(0 106 166); */
  }
}
